/* .Header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
border: 1px solid black;
}
.Logo{
    width: 80px;
    height: 80px;
}
.img{
    width: 100%;
    height: 100%;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.Search{
    margin: 10px;
}
.Rest_Card{
    
    width: 15%;
    height: 15%;
     border: 1PX solid black;
     justify-content: space-evenly;
     
     text-align: center;
     
}
.picture{
    width: 225px;
     height: 175px;
     
    
}
.res{

    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
   

}
.Rest_Card{
    margin-bottom: 20px;
    background-color: aliceblue;
    
}

.body{
    width: 100%;
    height: 100%;
} */
.Header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    
    
    

}
.img{
    width: 100px;
    height: 100px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-right: 50px;
    text-align: center;
    margin-top: 40px;
    font-size: large;
    background: linear-gradient(to right, red, blue, green);
     background-clip: text;
     -webkit-text-fill-color: transparent;

    
}
.Search{
    margin: 10px;
    margin-left: 20px;
    border: 1px solid black;
    width: 150px;
    text-align: center;
    
}
.Rest_Card{
    /* border: 2px solid black; */
    background-color: rgb(236, 240, 241);
    
    text-align: center;
    width: 210px;
    box-sizing: border-box;
   
    font-size: x-small;
    box-shadow: 3px 3px rgb(0,0,0, 0.2);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

   
    
    
    
}
.res{
    display: flex;
    flex-wrap: wrap;
    
    gap: 21px;
    padding-top: 10px;
    padding-left: 50px;
   
}
.picture{
    width: 199px;
    height: 150px;
   
     
}
.Rest_Card:hover{
    cursor: pointer;
    color: rgb(72, 161, 173);
    border: 2px solid rgb(174, 174, 253);
    
   
}
.title{
    text-align: center;
    padding-top: 10px;
    /* margin-left: 100px; */
    padding-left: 100px;
    color: rgb(93, 135, 172);
    
}
.title:hover{
    color: rgb(175, 196, 131);
}
.col{
   
  background: linear-gradient(to right, red, blue, green);
  background-clip: text;
  -webkit-text-fill-color: transparent;


}
.image{
    /* padding-top: 40px; */
    width: 210px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    /* box-shadow: 3px 3px  rgb(0,0,0,0.5); */
    
    
}
.name{
    font-size: large;
    color: darkred;
}

.rating{
    color: red;
}

.average{
    display: contents;
}
